<h2>Análise de nações</h2>
<p style="border-color:black;border-width:2px;border-style:double">
    <h3>Opções</h3>
    <menu>
        <ul>
            <li><a asp-action="Index">Ver lista de nações cadastradas</a></li>
            <li><a asp-action="ComparativoGeral">Compararativo geral</a></li>
            <li><a asp-action="ComparativoGenerico">Compararativo genérico</a></li>
            <li><a asp-action="ComparativoDuas">Comparar duas nações</a></li>
        </ul>
    </menu>
    
</p>
<div style="height:15px"></div>